#filters-accordion button{
	border: 0px;
	outline: none;
	font-size:14px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#filters-accordion .open{
	margin-bottom:10px;
}
.accordion-header{
 	width: 100%;
 	border:0px;
	text-align: left;
	padding-left: 1em;
 }  

 .accordion-header span, .second-header span{
 	cursor: pointer;
 }

 .accordion-header::after, .second-header::after{
 	cursor: pointer;
 }

.second-header{
	background: none;
	text-align: left;
	padding-left:1.5em;
	width: 100%;
}

.accordion-content article{
	padding-left: 3em;
	border:0px;
	font-size:13px;
}

#area-accordion{}

 #categories-accordion > button{
 	background: #eeeeee;
 }

 #time-accordion > button{
 	background: #dddddd;
 }

 #area-accordion > button{
 	background: #cccccc;
 }
