#details {
  margin: 0 15px 0 30px;
}

#details h3 {
  text-decoration: none;
  font-size: 1em;
}

#details ul {
  margin: 5px 1px;
}

#details li {
  font-size: small;
}

#filtered_view p {
  text-align: left;
}

#loaded_view p {
  text-align: left;
  color: #666;
}

#time-range p {
  text-align: left;
}