#details {
  margin: 0 15px 0 30px;
}

#details h3 {
  text-decoration: none;
  font-size: 1em;
}

#details p {
  font-size: small;
}

#current-view p {
  text-align: left;
}

#time-range p {
  text-align: left;
}