@media print{
	@page {size: landscape}
	#menu{
		width: 19em;
	}
	#details{
		left: 18em;
	}
	.disclaimer{
		left:26em;
		top:1em;
		height: 100px;
	}
	.tab{
		display: none;
	}
	#tab2{
		display: block;
	}
}