table {
  width: 100%;
}

tr {
  font-size: small;
}

tr td {
  border-bottom: .4px solid #DCDCDC;
}

table td,
table th
{
  text-align:left;
}

#right,
table td + td,
table th + th
{
  text-align:right;
}