table {
  width: 100%;
  border-spacing: 0px;
}

tr {
  font-size: small;
}

table td,
table th
{
  text-align:left;
  padding: 1px 5px;
}

#right,
table td + td,
table th + th
{
  text-align:right;
}

tr:nth-child(odd) {
  background-color: #B7CDC2;
}

/* color preview */
tr div {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 15px;
  border: 1px black solid;
  display: inline-block;
}

#point_details th {
  font-size: 0.9em;
  border-bottom: 1px dotted black;
  background-color: #B7CDC2;
  letter-spacing: 1px;
}

#point_details td {
  background-color: #eee;
  padding: 3px 10px;
  font-size: 1em;
}
