input[type=radio] {
    display: none;
}

.dow-checkbox, .date-checkbox, .district-checkbox, .precinct-checkbox {
  display: none;
}
.dow-checkbox + label, 
.district-checkbox + label, 
.precinct-checkbox + label,
input[type=radio] + label  {
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    vertical-align: top;
    cursor: pointer;
    padding:5px;
}
.date-checkbox + label{
    width: 10em;
    float: left;
    display: inline-block;
    cursor: pointer;
}
.date-checkbox + label img{
    width: 3em;
    height: 3em;
}
.date-checkbox + label img, .date-checkbox + label span,
.dow-checkbox + label,
.district-checkbox + label,
.precinct-checkbox + label,
input[type=radio] + label {
    font-weight: bold;
    opacity: 0.2;
}
.district-checkbox + label{
    margin-left: 1.2em;
}
.date-checkbox + label:hover,
.dow-checkbox + label:hover,
.district-checkbox + label:hover,
.precinct-checkbox + label:hover {
    opacity: 0.75;
}
.date-checkbox:checked + label img, .date-checkbox:checked + label span,
.dow-checkbox:checked + label,
.district-checkbox:checked + label,
.precinct-checkbox:checked + label,
input[type=radio]:checked + label{
    opacity: 1;
}
.date-checkbox + label span{
    position: relative;
    top: -10px;
    left: 10px;
}
#filters-menu{
    background: white;
    display: inline-block;
    position: fixed;
    top: 0px;
    z-index: 500;
    width: 75%;
    height: 90px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.filters{
    display: inline-block;
    margin:7px 35px;
}

.filters button {
    font-size: 1.25em;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    border: none;
    background: #279989;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 13px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 100;
    outline: none;
    cursor: pointer;
}

.filters-dropdown{
    float: left;
    position: absolute;
    top: 50px;
    background: white;
    margin-left:15px;
    padding: 15px;
    max-width: 165px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    display: none;
}

.filters-dropdown article{
    display: inline-block;
    min-width: 55px;
}

.dropdown-title{
    display: block;
}
